{% set menus = menu_service.findall %}
{% set options = option_service.findall %}
{# <pre>
    {{ dump(options) }}
</pre> #}
 
<nav class = " sticky-top ">
   {% if is_granted('ROLE_AUTHOR') %}
    
    <div class="container-fluid d-flex flex-wrap mb-0 p-2 bg-info">
        <div class="dropdown">
            <a class="btn btn-black dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
            </a>
            
        
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path('admin') }}">Tableau de bord</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                
                <li><a class="dropdown-item" href="{{ ea_index('MenuCrudController') }}">Menu</a></li>
               {% endif %}
            </ul>
        </div>
        <div class="dropdown">
            <a class="btn btn-black dropdown-toggle text-white" href="{{ ea_index('ArticleCrudController') }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ajouter
            </a>
        
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ ea_index('ArticleCrudController','new') }}">Article</a></li>
                <li><a class="dropdown-item" href="{{ ea_index('PageCrudController','new') }}">Page</a></li>
        
            </ul>
        </div>
    </div>

{% endif %}

<div class="container-fluid  bg-white " >
    <header class="d-flex flex-wrap justify-content-center align-items-center p-3 mb-4 border-bottom navbar-expand-lg">
        <a href="{{ path('app_home') }}" class="d-flex text-decoration-none mb-3 mb-md-0 me-md-auto align-items-center">
           <img src="{{asset('images/webdev.png')}}" alt="" style="width:80px; height:80px"> <span class="fs-2 px-5 ">{{ options['blog_title'].value }}</span>
        </a>
        

        
        <ul class="nav nav-pills ">
            {% for menu in menus %}
                {% if menu.subMenus|length >0 %}
                    <div class="dropdown">
                        <a class=" nav-link text-info dropdown-toggle" href="{{ menu|menuLink }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ menu.name }}
                        </a>
                    
                        <ul class="dropdown-menu">
                            {% for subMenu in menu.subMenus %}
                                <li><a class="dropdown-item" href="{{ subMenu|menuLink }}">{{ subMenu.name }}</a></li>
                            {% endfor %}
                         
                        </ul>
                    </div>
                {% else %}
                        <li class="nav-item mx-3">
                            <a class="nav-link text-info" aria-current="page" href="{{ menu|menuLink }}">{{ menu.name }}</a>
                        </li>
                {% endif %}
                
            {% endfor %}
            {% if app.user %}
                   
            <div class="dropdown"> <a href="#" class="nav-link text-black dropdown-toggle text-black" data-bs-toggle="dropdown"><i class="fa-solid fa-user text-primary"></i><span class="text-warning mx-2">{{ app.user.fullName }}</span></a>
                <ul class="dropdown-menu">
                    <li class="nav-item mx-3">
                        <a class="nav nav-link"  href="{{ path('app_profile', {id:app.user.id}) }}">Mon profile</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
            

                
            {% else %}
                <li class="nav-item mx-3">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_register') }}">S'inscrire</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link active" aria-current="page" href="{{ path("app_login") }}">Se connecter</a>
                </li>
            {% endif %}        
              
            
            
        </ul>
       
    </header>
 </div>
</nav>



